{% extends "layouts/company_page.html" %}
{% load cache %}

{% block title %}Google comments{% endblock %}

{% block base_cta %}
<div>
    <a href="{% url 'reviews:start_robot' %}" class="btn btn-primary btn-rounded me-2">
        <i class="fa fa-robot" class="me-2"></i>
        Get reviews
    </a>
    
    <a href="{% url 'reviews:file_upload' %}" class="btn btn-primary btn-rounded">
        <i class="fa fa-upload" class="me-2"></i>
        Upload file
    </a>
</div>
{% endblock %}

{% block iteration_block %}
    {% for company in companies %}
    <div class="col-sm-12 col-md-3">
        <article class="card shadow-sm mt-2" data-id="{{ company.business_id }}">
            <div class="card-body">
                <a href="{% url 'reviews:list_reviews' company.id %}" class="link-dark">
                    <h3 class="h4">{{ company.name|truncatechars:15 }}</h3>
                    <p class="text-light-emphasis">{{ company.review_set.count }} review{{ company.review_set.count|pluralize }}</p>
                </a>

                <a href="{{ company.feed_url|default:company.url }}" class="btn btn-sm btn-rounded btn-secondary me-2 shadow-none" target="_blank" rel="noreferrer nofollow"><i class="fab fa-google"></i></a>
                
                <a href="{{ company.website }}" class="btn btn-sm btn-rounded btn-secondary shadow-none {% if company.website is None %}disabled{% endif %}" target="_blank" rel="noreferrer nofollow">
                    <i class="fas fa-link"></i>
                </a>
            </div>
        </article>
    </div>
    {% empty %}
        {% include "reviews/includes/no_companies.html" %}
    {% endfor %}
{% endblock %}
