{% extends "base_site.html" %}
{% load cache iteration %}

{% block title %}Explore{% endblock %}

{% block style %}
<style>
    article.card {
        height: 280px;
    }

    article .card-text {
        scroll-behavior: smooth;
        overflow-y: scroll;
        max-height: 100px;
        height: 100px;
    }

    article .card-text::-webkit-scrollbar {
        width: 8px;
    }

    article .card-text::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    article .card-text::-webkit-scrollbar-thumb {
        background: #888;
    }

    article .card-text::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
{% endblock %}

{% block container %}
<section class="my-5">
    <div class="row mt-4">
        <div class="col-sm-12 col-md-10 offset-md-1">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h1 class="h3 fw-bold text-secondary mb-0">{{ company.name }}</h1>
                        </div>

                        <div class="card-footer d-flex justify-content-end">
                            <a href="{% url 'reviews:download_csv_file' %}" class="btn btn-secondary btn-rounded" target="_parent" rel="nofollow noreferrer">
                                <i class="fas fa-download ms-2"></i>
                                Download csv
                            </a>

                            {# TODO: Implement download via modal #}
                            {% comment %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#download-csv">
                                <i class="fas fa-download ms-2"></i>
                                Download csv
                            </button>
                            {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 d-flex justify-content-end align-items-center gap-2 mt-2">
                    <p class="text-body-tertiary m-0">{{ reviews|length }} review{{ reviews|pluralize }}</p>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle btn-rounded" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-filter"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'reviews:list_reviews' company.id %}?text=1">Text
                                    length</a></li>
                            <li><a class="dropdown-item" href="#">Sentiment</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'reviews:list_reviews' company.id %}?rating=asc">Rating - Ascending</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'reviews:list_reviews' company.id %}?rating=desc">Rating -
                                    Descending</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for review in reviews %}
                <div class="col-sm-12 col-md-6">
                    <article id="{{ review.review_id }}" data-company="{{ review.business.name|slugify }}"
                        class="card mt-2 shadow-sm">
                        <div class="card-header">
                            {{ review.reviewer_name }} | {% for i in review.rating|times %}<i
                                class="fas fa-star text-body-tertiary"></i>{% endfor %}
                        </div>

                        <div class="card-body">
                            <div class="card-text">{{ review.text }}</div>
                        </div>

                        <div class="card-footer">
                            {% comment %}
                            {% if review.sentiment < 0 %} <div class="badge text-bg-danger">{{
                                review.sentiment|floatformat:"3" }}</div>
                        {% elif review.sentiment == 0 %}
                        <div class="badge text-bg-light">{{ review.sentiment|floatformat:"3" }}</div>
                        {% else %}
                        <div class="badge text-bg-success">{{ review.sentiment|floatformat:"3" }}</div>
                        {% endif %}
                        {% endcomment %}
                        <div class="badge text-bg-secondary">{{ review.text|length }} characters</div>
                </div>
                </article>
            </div>
            {% empty %}
            Nothing
            {% endfor %}
        </div>
    </div>
    
    <!-- Modals -->
    <div class="modal fade" id="download-csv" tabindex="-1" aria-labelledby="Download csv" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <form action="{% url 'reviews:download_csv_file' %}" method="get" enctype="application/x-www-form-urlencoded" class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="download-csv">Download reviews</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input type="text" class="form-control p-2 mb-2" name="columns" placeholder="Columns to keep...">

                    <label for="sorting">Sorting options</label>
                    <select id="sorting" class="form-select p-2 mb-3" aria-label="Sorting options" name="sorting">
                        <option value="1">Text</option>
                        <option value="2">Review ID</option>
                    </select>

                    <div class="form-check">
                      <input id="empty-comments" name="remove_empty_comments" class="form-check-input" type="checkbox" value="checkbox">
                      <label class="form-check-label" for="remove-empty-comments  ">
                        Remove empty comments
                      </label>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-rounded shadow-none" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-rounded" data-bs-dismiss="modal">Start download</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
